body {
  font-family: "Arial","Meiryo",sans-serif;
  text-align: center;
  font-size: 20px;
}
h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  letter-spacing: 1.2em;
  border-bottom: solid 3px rgb(115,115,114);
  text-shadow: 2px 2px 4px plum;
}
.m{
  color: skyblue;
}
.pi{
  color: rgb(255,192,203);
}
#oya >p {
  font-weight: bold;
}
